<section class="hero">
  <div class="hero-content">
    <h2>About Us</h2>
    <p>Learn all about us</p>
    <a href="/" class="btn btn-lg btn-primary">Drop us a line</a>
  </div>
</section>
<%- contentFor('body') %>
<div class="jumbotron text-center">
  Text me
</div>
