<%- contentFor('hero') %>
    <section class="hero">
      <div class="hero-content">
        <h2>Welcome to my Site</h2>
        <p>Best place to be in the world</p>
        <a href="/" class="btn btn-lg btn-primary">Get Started</a>
        <a href="/" class="btn btn-lg btn-primary">Contact</a>
      </div>
    </section>
<%- contentFor('body') %>
    <div class="jumbotron text-center">
      Text me
    </div>
